.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
kodilla-tasks/
kodilla-testing/src/main/resources/
kodilla-testing/src/test/java/com/kodilla/testing/forum/tdd/
kodilla-testing/src/test/resources/
modules/
src/main/resources/static/
src/main/resources/templates/
src/test/resources/
